
#header{
    color: #fff;
background-color:#e74c3c;
}
#menu{
    color: #fff;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline-block;
    
}
#menu li a {
    color: #fff;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
}
#menu li a:hover{
    background-color: #c0392b;
}
#logo{
    font-size: 2rem;
    margin-top: 5px;
}
#banner{
    background-image: url("images/banner.png");
    background-size: cover;
}
.section{
    margin-top: 70px;
    margin-bottom: 70px;
}
.section h2.section-head{
    color: #000;
    margin-bottom: 40px;
    text-align: center;
}
.section h2.section-head::after{
    background-color:#e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
.banner-title{
    margin-top: 5rem;
}
.banner-title h1{
    background-color: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
    margin: 0px;
}
.banner-title p{
    background-color:rgba(236, 84, 68, 0.7);

}
.serves-box{
    text-align: center;
}
.serves-box i.fa{
    color: #e74c3c;
    font-size: 70px;
    margin-bottom: 15px;
}
#testimonials{
    color: #fff;
    background-image: url("images/2.jpg");
    background-size: cover;
    padding: 50px 0px;
    position: relative;
}
.testimonial img{
    border-radius: 50%;
}
.news-post img{
    width: 285px;
    height: 200px;
    margin-bottom: 10px;
    border: 5px solid white;
  
}
.news-post h3{
    font-size: 1.3rem;
}
.news-post h3 a{
    color: #e74c3c;
}
.post-date{
    font-size: 13px;
}
.post-date::before{
    content: "\f073";
    font-family: FontAwesome;
    margin-right: 5px;  
}
a.read-more{
    font-size: 14px;
    color: #e74c3c;
}
a.read-more::after{
    content: "\f101";
    font-family: FontAwesome;
    margin-left: 5px;
}
#footer-sidebar{
    color: #fff;
    background-color: #34495e;
    padding: 20px 0;
}
.footer-wadge h4::after{
    content: "";
    display: block;
    background-color: #fff;
    margin-top: 5px;
    width: 50px;
    height: 2px;
}
.footer-wadge ul{
    margin: 0px;
    padding: 0px;
}
.footer-wadge ul li{
    list-style: none;
    margin-bottom: 3px;
   
}
.footer-wadge ul li a{
    color: #fff;
}
.footer-wadge ul li a::before{
    content: "\f101";
    font-family: FontAwesome;
    margin-right: 5px; 
}
.footer-wadge ul li a:hover{
    text-decoration: none;
}
#footer{
    background-color: #2c3e50;
    padding: 10px 0;
    color: #fff;
}
.social-icons{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.social-icons li{
    display: inline-block;
    padding-left: 5px;
}
.social-icons li a{
    color: #fff;
    font-size: 23px;
}
.social-icons li a:hover{
    text-decoration: none;
}

@media (max-width: 768px){
    #logo{
        text-align: center;
        margin: 10px 0;
    }
    #menu{
        text-align: center;

    }
    #testimonials{
        text-align: center;
    }
    .banner-title{
        margin-top: 2rem;
        font-size: 1.7rem;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .testimonial{
        margin-bottom: 30px;
    }
    .serves-box{
        margin-bottom: 30px;
    }
    .news-post{
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-wadge{
        margin-bottom: 20px;
    }
    #footer{
        text-align: center;
    }
    .social-icons{
        margin-top: 10px;
    }
}